<!DOCTYPE html>
<html>
  <head>
    <title> Welcome to 'Dominos Share'! </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="./../static/css/bootstrap.min.css" rel="stylesheet">

  <!--Scrollorma-->
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>SUPERSCROLLORAMA</title>
  
  <link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">  
  <link rel="author" href="https://plus.google.com/107766061849006545830"/>



    <style>
      div.frontpage{
        border-style: dotted;
        border-width: 1px;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
        margin-top: 1%;
      }
    </style>
  </head>
  

  <body><br><br>
    <div class="frontpage"><br>
    <div class="logo" style="text-align:center;">
      <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/t1/p480x480/1011851_10202981460406856_1995743343_n.jpg">
    </div>


    <!--Front Page JumboTron-->
    <div class="jumbotron">
      <h3 style="text-align:center;">Welcome to Dominos Share!</h3>
      <p style="text-align:center;"><br>Join Us Now <br>And Share American's #1 Pizza With Your Neighbors.</p>
      <p><br>
        <div class="login" style="text-align:center;">
          <form class="form-inline" id="sign" role="form">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Phone #</label>
              <input type="text" class="form-control" id="phonenumber" placeholder="Enter Phone #">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Password</label>
              <input type="text" class="form-control" id="password" placeholder="Password">
            </div>
            <input type='button' id="signin" class="btn btn-default" value='Sign in' />
            <input type='button' id="signup" class="btn btn-default" value='Sign up' />
          </form>
        </div>
      </p>
    </div>
  </div>


<p><tt id="results"></tt></p>


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="./../static/js/bootstrap.min.js"></script>

  </body>
<script>
    $(document).ready(function(){
    $("#signin").click(function(){
        var password= $('#password').val();
        var phonenumber= $('#phonenumber').val();
        console.log('signin');
        $.post('/api/signin',
                {'phone':phonenumber, 'pass':password},
                function(data) {
                    console.log(data);
                },
                function(err) {
                    console.log(err);
                });
    });
    $("#signup").click(function(){
        var password= $('#password').val();
        var phonenumber= $('#phonenumber').val();
        $.ajax({
            type : 'POST',
            data : "{'phone':'"+phonenumber+"', 'password':'"+password+"'}",
            url : "/"
            });
    });
});


</script>
  
</html>
