<!DOCTYPE html>
<html>
  <head>
    <title> Welcome to 'Dominos Share'! </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!--Scrollorma-->
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title></title>
  
  <link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">  
  <link rel="author" href="https://plus.google.com/107766061849006545830"/>



    <style>
      div.frontpage{
        border-style: dotted;
        border-width: 1px;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
        margin-top: 1%;
      }
    </style>
  </head>
  

  <body><br><br>
    <div class="zipcodetpage"><br>
    <div class="logo" style="text-align:center; padding-bottom:10px">
      <img src="../static/imgs/cropped.png">
    </div>


    <!--Front Page JumboTron-->
    <div class="jumbotron">
      <h3 style="text-align:center;">Welcome to Dominos Share!</h3>
      <p style="text-align:center;"><br>Join Us Now <br>And Share American's #1 Pizza With Your Neighbors.</p>
      <p><br>
        <div class="login" style="text-align:center;">
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="phone" class="form-control" id="phonenumber" placeholder="Enter Phone #">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <input type="button" id="signin" class="btn btn-default" value="Sign in">
            <input type="button" id="signup" class="btn btn-default" data-toggle="modal" data-target="#myModal" value="Sign up">
          </form>
        </div>
      </p>
    </div>
  </div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="buton" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign up for Domino Share</h4>
      </div>

      <form class="form-signup">
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-phone"></span>
              <input type="text" class="form-control" id="signupphone" placeholder="Enter Phone #" autofocus="true" style="width:95%">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-check"></span>
             <input type="password" class="form-control" id="signuppass" placeholder="Password" style="width:95%">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-saved"></span>
             <input type="password" class="form-control" id="signupre" placeholder="Retype Password" style="width:95%">
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Close">
          <input type="button" id="registerbutton" class="btn btn-primary" value="Register">

        </div>
      </form>
    </div>
  </div>
</div>


<!--"ZIPCODE"-->
<div class="zipcodetpage"><br>
    <div class="logo" style="text-align:center; padding-bottom:10px">
      <img src="../static/imgs/cropped.png">
    </div>


    <!--Front Page JumboTron-->
    <div class="jumbotron">
      <h3 style="text-align:center;">Enter Now!</h3>
      <p style="text-align:center;"><br>Now Share American's #1 Pizza With Your Neighbors.</p>
      <p><br>
      <div class="zipcode" style="text-align:center;">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="zipcode">ZipCode</label>
              <input type="zipcode" class="form-control" id="exampleInputEmail2" placeholder="Zip Code">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
      </p>
    </div>
  </div>

  <!--END OF ZIPCODE-->




    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </body>
  
<script>
    var sessionkey;
    var statuscode;
    $(document).ready(function(){
    $("#signin").click(function(){
        var password= $('#password').val();
        var phonenumber= $('#phonenumber').val();
        console.log('signin');
        $.post('/api/signin',
                {'phone':phonenumber, 'pass':password},
                function(data) {
                    sessionkey = data.result;
                    console.log(r);
                });
    });
    $("#registerbutton").click(function(){
        var password= $('#signuppass').val();
        var phonenumber= $('#signupphone').val();
        $.post('/api/signup',
                {'phone':phonenumber, 'pass':password},
                function(data) {
                    statuscode = data.status_code;
                    if(statuscode !=200)
                    {
                        console.log(data.status_code);
                    }
                    
                });
    });
});


</script>
</html>
